.title {
  text-align: center;
  font-family: Georgia;
}

.well {
  max-width: 500px;
  border-radius: 5% !important;
  transition: max-height 5s ease-out;
  margin: 0 auto;
  margin-top: 75px;
  /*box-shadow: 0px 0px 50px 1px red !important;*/
}

.quote {
  font-size: 15px;
  font-family: cursive;
}

.quoteAuthor {
  margin-left: 500px;
  margin-top: 40px;
  width: 150px;
  color: blue;
}

.quote-btn {
  color: #ffffff;
  background: rgba(0,0,0,0);
  border: solid 5px #ffffff;
}
.quote-btn:hover {
  border-color: #e5e5e5;
  color: #e5e5e5;
}
.quote-btn:active {
  border-color: #b2b2b2;
  color: #b2b2b2;
}

#twitter {
  background-color: #4099FF !important;
  width: 40px;
  height: 40px;
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 50%;
}

html, body {
  margin-bottom: 50px;  
}

#footer {
  text-align: center;
  position: absolute;
  bottom: 5px;
  width: 100%;
  height: 5px;
}